@media all {
.wrapping-col > .back-arrow-margin,
.wrapping-col > .afScrollPanel > .back-arrow-margin {  margin-left:10px;
}

.wrapping-col > .back-arrow-margin,
.wrapping-col > .afScrollPanel > .back-arrow-margin {  margin-left:10px;
}

.back-arrow-margin {  margin-top:5px;
}

}

