@media all {
.wrapping-col > .d-margins,
.wrapping-col > .afScrollPanel > .d-margins {  margin-left:10px;
}

.wrapping-col > .d-margins,
.wrapping-col > .afScrollPanel > .d-margins {  margin-left:10px;
}

.d-margins {  margin-top:8px;
}

}

